# fly.toml app configuration file generated for memos-mgztwq on 2025-12-11T15:13:05Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'memos-mgztwq'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 5230
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
